<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Students</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/students">Student List</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search by email" aria-label="Search" name="email" [(ngModel)]="email">
        <button class="btn btn-outline-success" type="submit" (click)="findStudentByEmailId(email)">Search</button>
      </form>
    </div>
  </div>
</nav>

<br>


<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success !</strong> Your details have been registered successfully!!
  <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<div class="container">

  <h1 style="color: rgb(6, 59, 138)">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Student Registration
  </h1>
  <br>
    <form #userForm="ngForm">
  
        <div class="form-group">
            <label for="exampleInputEmail1" class="user">Student Id</label>
            <input 
            type="text" 
            class="form-control" 
            placeholder="Enter your id" 
            name="studentid"
            [(ngModel)]="student.studentid"
            />
          </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="user">First Name</label>
        <input 
        type="text" 
        class="form-control" 
        placeholder="Enter first name" 
        name="firstname"
        [(ngModel)]="student.firstname"
        />
      </div>
  
      <div class="form-group">
        <label for="exampleInputEmail1" class="user">Last Name</label>
        <input 
        type="text" 
        class="form-control" 
        placeholder="Enter last name" 
        name="lastname"
        [(ngModel)]="student.lastname"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="user">Email</label>
        <input 
        type="email" 
        class="form-control" 
        placeholder="Enter email" 
        name="email"
        [(ngModel)]="student.email"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="user">Phone</label>
        <input 
        type="text" 
        class="form-control" 
        placeholder="Enter phone number" 
        name="phone"
        [(ngModel)]="student.phone"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="user">Address</label>
        <input 
        type="text" 
        class="form-control" 
        placeholder="Enter address" 
        name="address"
        [(ngModel)]="student.address"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="user">Class</label>
        <input 
        type="text" 
        class="form-control" 
        placeholder="Enter your class" 
        name="classname"
        [(ngModel)]="student.classname"
        />
      </div>
  
      <br/>
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary" (click)="addUser(userForm)">Submit</button>
      </div>
    </form>
  </div>
  <br>

  <router-outlet></router-outlet>
