<div class="container">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Book Name</th>
        <th scope="col">Writer</th>
        <th scope="col">Publication</th>
        <th scope="col">Available</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

        <!-- bookid:number,
        bookname:string,
        writer:string,
        publication:string,
        available: boolean -->

        <tr *ngFor="let book of books">
            <td>{{ book.bookid }}</td>
            <td>{{ book.bookname }}</td>
            <td>{{ book.writer }}</td>
            <td>{{ book.publication }}</td>
            <td>{{ book.available }}</td>
            <td>
                <button (click)="addBookToStudent(book)" type="button" class="btn btn-success">+</button>
            </td>
            <!-- <td>
                <button (click)="editStudent(student.studentid)" class="btn btn-warning">Edit</button>
            </td>
            <td>
                <button (click)="deleteStudent(student.studentid)" class="btn btn-danger">Delete</button>
            </td>  -->
        </tr>
    </tbody>
  </table>
</div> 