.address-card {
    border: 1px gray solid;
    padding: 15px;
}

.container {
    margin-top: 50px;
}

.details {
    color: green;
}

.email {
    font-style: italic;
}

.phone {
    border-left: 1px gray solid;
    padding-left: 5px;
}