<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Students</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/register">Add Student</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search by email" aria-label="Search" name="email" [(ngModel)]="email">
        <button class="btn btn-outline-success" type="submit" (click)="findStudentByEmailId(email)">Search</button>
      </form>
    </div>
  </div>
</nav>


<div class="container">
  <h1 class="details">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Student Details
  </h1>
  <br>
  <div class="address-card">
    <h1 class="name">{{ student.firstname }} {{ student.lastname }}</h1>
    <h3 class="email">{{ student.email }}</h3>
    <div class="phone">
      <br>
      <p>Phone:</p>
      <p>{{ student.phone }}</p>
      <p>Address:</p>
      <p>{{ student.address }}</p>
      <p>Class:</p>
      <p>{{ student.classname }}</p>
    </div>
  </div>
</div>