<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Students</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/register">Add Student</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search by email" aria-label="Search" name="email" [(ngModel)]="email">
        <button class="btn btn-outline-success" type="submit" (click)="findStudentByEmailId(email)">Search</button>
      </form>
    </div>
  </div>
</nav>

<br/>

<h1 style="color: rgb(87, 173, 7)"> 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Student List
</h1>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Class</th>        
        <th>Edit</th>
        <th>Delete</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.studentid }}</td>
            <td>{{ student.firstname }}</td>
            <td>{{ student.lastname }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.classname }}</td>
            <td>
                <button (click)="editStudent(student.studentid)" class="btn btn-warning">Edit</button>
            </td>
            <td>
                <button (click)="deleteStudent(student.studentid)" class="btn btn-danger">Delete</button>
            </td>
            <td>
              <button (click)="addBook(student.studentid)" class="btn btn-info">AddBook</button>
            </td> 
        </tr>
    </tbody>
  </table>